body {
    font-family: Arial, Helvetica, sans-serif;
}


input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #f2f2f2;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  background-color: #f2f2f2;
}

input[type=submit] {
  background-color: #F27900;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.container {
  border-radius: 5px;
  background-color: #FFFFFF;
  padding: 20px;
  float: right;
}
textarea{
    background-color: #f2f2f2;
}
